.card-width {
  width: clamp(15em, 25vw, 20em);
  border: 5px solid black;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  padding: 16px;
}